<p>Hi <%=@user.name%>,</p>

<p>We are very pleased to welcome you to our DNS community and looking forward to serve your domain management needs for years to come. Hope that you will enjoy the benefits of being our user.</<p>

<p>To get started with DNSSocial, just click on the link below:<br>
http://www.dnssocial.com</p>

<p>Thanks,<br>
The DNSSocial team.
</p>

<p><b style="font-size:x-small">Disclaimer </b><font size="1">: This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. E-mail transmission cannot be guaranteed to be secured or error-free as information could be intercepted, corrupted, lost, destroyed, arrive late or incomplete, or contain viruses. The sender therefore does not accept liability for any errors or omissions in the contents of this message, which arise as a result of e-mail transmission. If verification is required please request a hard-copy version. DNSSocial will not accept any liability in respect of such communication that violates our e-mail policy.</font><a href="http://www.dnssocial.com/" style="font-size:x-small" target="_blank"><span>www.dnssocial.com</span></a></p>