<div class="container">
	<div class="main grid_12">
		<h2>Bar</h2>

		<div class="dashboard-header">
			<span>System Information</span>
		</div>
		<ul class="box-list">
			<li>
				Uptime 
				<span>
					Up 7 days, 18 hours and 14 minutes
				</span>
			</li>
			<li>
				Memory
				<div class="meter">
					<div style="width:35%;" class="bar"></div>
					<div class="text">35%</div>
				</div>
			</li>
		</ul>

<pre>
&lt;div class=&quot;dashboard-header&quot;&gt;
	&lt;span&gt;System Information&lt;/span&gt;
&lt;/div&gt;
&lt;ul class=&quot;box-list&quot;&gt;
	&lt;li&gt;
		Uptime 
		&lt;span&gt;
			Up 7 days, 18 hours and 14 minutes
		&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		Memory
		&lt;div class=&quot;meter&quot;&gt;
			&lt;div style=&quot;width:35%;&quot; class=&quot;bar&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;text&quot;&gt;35%&lt;/div&gt;
		&lt;/div&gt;
	&lt;/li&gt;
&lt;/ul&gt;
</pre>		

	</div>
</div>