<%=render 'apps_management_tab'%>

<div class="container">	
	<div class="grid_3">
		<div class="domain_sidebar">
			<div class="add_domain acenter">
				<a href="#" class="btn blue">Add domain</a>
			</div><!--  close -->
			
			<div class="search_domain">
				<form>
					<input type='text' placeholder="Search domain">
				</form>
			</div><!-- search_domain close -->

			<div class="domain_list">
				<div class="label_wrap">

					<h4 class="fleft"><a href="#" class="label_trigger">Labels</a></h4>
					<a href="#" class="fright hide">Close</a>
					<a href="#" class="btn btn-micro white fright">Create new label</a>
					<br class="clear">
					<div class="domain_label_block">						
						
						<div class="">
							<ul>
								<li>
									<a href="#">
										<span class="color_box color_red"></span> Office <span class="label_count">2</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="color_box color_green"></span> Personal
									</a>
								</li>
							</ul>
						</div><!--  close -->
					</div><!-- label_block hide close -->
				</div><!-- label close -->
				<ul class="domains">
					<li class="current"><a href="#">github.com</a> </li>
					<li><a href="#">Nolabel</a> </li>
					<li><a href="#">hello.com</a> </li>
					<li><a href="#">Apple.com</a> </li>
					<li><a href="#">Apple.com</a> </li>
				</ul>
			</div><!-- domain_list close -->

		</div><!-- domain_sidebar close -->
	</div><!-- grid_3 close -->

	<div class="grid_9">

		<div class="content_with_sidebar">
			<div class="content_header">
				<h3><a href="#">Github.com</a></h3>
			</div><!-- content_header close -->

			<div class="tab_wrap">
				<ul class="domain_tab">
					<li><a href="" class="selected">Dashboard</a></li>
					<li><a href="" >Hosts</a></li>
					<li><a href="">Audit</a></li>
					<li><a href="">DNSSEC</a></li>
					<li><a href="">Graphs</a></li>
				</ul>
			</div><!-- tab_wrap close -->

			<div class="content_inside">
				<div class="domain_dashboard">
					<ul class="box">
						<li>
							<div class="box_inside">
								<h3>Status</h3>
								<span class="uptime up">Up</span>
							</div><!-- box_inside close -->
						</li>

						<li>
							<div class="box_inside">
								<h3>Queries</h3>
								<span class="">98722342</span>
							</div><!-- box_inside close -->
						</li>
						<li class="last">
							<div class="box_inside">
								<h3>Uptime</h3>
								<span class="">12 days</span>
							</div><!-- box_inside close -->
						</li>
					</ul>
				</div><!-- domain_dashboard close -->

				<div class="table_wrap">
					
					<a href="#" class="fright btn blue">Add Product</a>
					<!-- <a href="#" class="fright btn red">Delete Product</a> -->
					<h3>Product_table</h3>

					<table class="dttb display">
					  <thead>
					    <tr>
					      <th>Product Name</th>
					      <th>Category</th>
					      <th>Release Date</th>
					      <th>Price</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  	</tr>
					  	<tr>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  	</tr>
					  	<tr>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  	</tr>
					  </tbody>
					</table>
				</div><!-- table_wrap close -->

				<div class="table_wrap">
					
					<a href="#" class="fright btn blue">Add Product</a>
					<!-- <a href="#" class="fright btn red">Delete Product</a> -->
					<h3>Product_table</h3>

					<table id="prodsucts" class="display">
					  <thead>
					    <tr>
					      <th>Product Name</th>
					      <th>Category</th>
					      <th>Release Date</th>
					      <th>Price</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  	</tr>
					  	<tr>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  	</tr>
					  	<tr>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  	</tr>
					  </tbody>
					</table>
				</div><!-- table_wrap close -->


				<div class="table_wrap">
					
					<a href="#" class="fright btn blue">Add Product</a>
					<!-- <a href="#" class="fright btn red">Delete Product</a> -->
					<h3>Zebra table</h3>

					<table id="prodsucts" class="display zebra_table">
					  <thead>
					    <tr>
					      <th>Product Name</th>
					      <th>Category</th>
					      <th>Release Date</th>
					      <th>Price</th>
					    </tr>
					  </thead>
					  <tbody>
					  	<tr>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  	</tr>
					  	<tr>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  	</tr>
					  	<tr>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  		<td>asd</td>
					  	</tr>
					  </tbody>
					</table>
				</div><!-- table_wrap close -->



				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>


			</div><!-- content_inside close -->

		</div><!-- content_with_sidebar close -->

	</div><!-- grid_9 close -->

		<!--
		<div class="grid_9 main form_dns">
			<ul class="form_ul">
				<li>
					<label>Domain name</label>
					<input type="text">
				</li>
				<li>
					<label>Template</label>
					<input type="text">
				</li>
				<li>
					<label>Tags</label>
					<input type="text">
				</li>
				<li>
					<label>Default TTL</label>
					<input type="text">
				</li>
				<li>
					<label>Service</label>
					<input type="text">
				</li>
				<li class="action">
					<input type="submit" class="btn blue">
				</li>
			</ul>
		</div>   close -->

	
</div><!-- container  close -->
