<div class="container">
	<div class="grid_12">
		<div class="content_no_sidebar">
			<div class="content_header">
				<h3>Title</h3>
			</div><!-- content_header close -->
			<div class="content_inside">

		<ul class="form_ul form_inline form_center">
			<li>
				<div class="label_left">
					<label>Input</label>
				</div><!-- label_left close -->
				<div class="input_right">
					<input type="text">
				</div><!-- input_right close -->
			</li>
			<li>
				<div class="label_left">
					<label>Textarea</label>
				</div><!-- label_left close -->
				<div class="input_right">
					<textarea></textarea>
				</div><!-- input_right close -->
			</li>

			<li class="action">
				<div class="label_left">
					&nbsp;
				</div><!-- label_left close -->
				<div class="input_right">
					<input type="submit" class="btn blue">
				</div><!-- input_right close -->
			</li>
		</ul>

			</div><!-- content_inside close -->

			
		</div>
	</div><!-- grid_12 close -->
</div><!-- container close -->


