	<div class="container">
		<div class="main grid_12">
			<div class="white_box push_40">
				<h2 class="title">Buttons</h2>

				<p>Default color = blue</p>

				<h4>Ruby</h4>
				<pre>:class => 'btn blue'</pre>

				<h4>HTML</h4>
				<pre>class="btn blue"</pre>

				<h3 class="title">Disable</h3>
				<div class="button_example">
					<input class="btn disabled" type="button" value="Input Element" />
<pre>
class="btn disabled"
:class => 'btn disabled'
</pre>
				</div>
				
				<h3>Small</h3>
				<div class="button_example">
					<a href="#" class="btn btn-micro blue">btn-micro</a>  
					<a href="#" class="btn btn-micro rounded blue">btn-small rounded</a>
<pre>
class="btn btn-micro blue"
:class => "btn btn-micro rounded blue"
</pre>					
				</div>

				<h3>Big</h3>
				<div class="button_example">
					<a href="#" class="btn btn-big blue">btn-big</a>  
					<a href="#" class="btn btn-big bigrounded blue">btn-big bigrounded</a>
<pre>
class="btn btn-big blue"
:class => "btn btn-big bigrounded blue"
</pre>					
				</div>

				<h3>Button datatable</h3>
				<a href="#" class="btn_icon delete_icon">Delete</a>
				<a href="#" class="btn_icon edit_icon">Edit</a>

<pre>
&lt;a href=&quot;#&quot; class=&quot;btn_icon delete_icon&quot;&gt;Delete&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn_icon edit_icon&quot;&gt;Edit&lt;/a&gt;
</pre>				


<h3 id="icons">Icon</h3>
<pre>
&lt;a href=&quot;#&quot; class=&quot;btn blue&quot;&gt;
	&lt;span class=&quot; icon book &quot;&gt;&lt;/span&gt; 
	book 
&lt;/a&gt;
</pre>
				<a href="#" class="btn blue"><span class="icon book"></span>book</a><br />
				<a href="#" class="btn blue"><span class="icon calendar"></span>calendar</a><br />
				<a href="#" class="btn blue"><span class="icon chat"></span>chat</a><br />
				<a href="#" class="btn blue"><span class="icon check"></span>check</a><br />
				<a href="#" class="btn blue"><span class="icon clock"></span>clock</a><br />
				<a href="#" class="btn blue"><span class="icon cog"></span>cog</a><br />
				<a href="#" class="btn blue"><span class="icon comment"></span>comment</a><br />
				<a href="#" class="btn blue"><span class="icon cross"></span>cross</a><br />
				<a href="#" class="btn blue"><span class="icon downarrow"></span>downarrow</a><br />
				<a href="#" class="btn blue"><span class="icon fork"></span>fork</a><br />
				<a href="#" class="btn blue"><span class="icon heart"></span>heart</a><br />
				<a href="#" class="btn blue"><span class="icon home"></span>home</a><br />
				<a href="#" class="btn blue"><span class="icon key"></span>key</a><br />
				<a href="#" class="btn blue"><span class="icon leftarrow"></span>leftarrow</a><br />
				<a href="#" class="btn blue"><span class="icon lock"></span>lock</a><br />
				<a href="#" class="btn blue"><span class="icon loop"></span>loop</a><br />
				<a href="#" class="btn blue"><span class="icon magnifier"></span>magnifier</a><br />
				<a href="#" class="btn blue"><span class="icon mail"></span>mail</a><br />
				<a href="#" class="btn blue"><span class="icon move"></span>move</a><br />
				<a href="#" class="btn blue"><span class="icon pen"></span>pen</a><br />
				<a href="#" class="btn blue"><span class="icon pin"></span>pin</a><br />
				<a href="#" class="btn blue"><span class="icon plus"></span>plus</a><br />
				<a href="#" class="btn blue"><span class="icon pen"></span>pen</a><br />
				<a href="#" class="btn blue"><span class="icon reload"></span>reload</a><br />
				<a href="#" class="btn blue"><span class="icon rightarrow"></span>rightarrow</a><br />
				<a href="#" class="btn blue"><span class="icon rss"></span>rss</a><br />
				<a href="#" class="btn blue"><span class="icon tag"></span>tag</a><br />
				<a href="#" class="btn blue"><span class="icon trash"></span>trash</a><br />
				<a href="#" class="btn blue"><span class="icon unlock"></span>unlock</a><br />
				<a href="#" class="btn blue"><span class="icon uparrow"></span>uparrow</a><br />
				<a href="#" class="btn blue"><span class="icon user"></span>user</a><br />

				<h3 class="title">Default</h3>
				<div class="button_example">
					<a href="#" class="btn">Rectangle</a>  
					<a href="#" class="btn bigrounded">Rounded</a> 
					<a href="#" class="btn btn-small">Small</a>
					<a href="#" class="btn btn-medium">Medium</a> 
					<span class="btn">Span</span> 
					<div class="btn">Div</div> 
					<p class="btn">P Tag</p> 
					<h3 class="btn">H3</h3> 
					<input class="btn" type="button" value="Input Element" /> 
					
					<button class="btn">Button Tag</button>
				</div>

				<h3 class="title">Green</h3>
				<div class="button_example">
					<a href="#" class="btn green">Rectangle</a>  
					<a href="#" class="btn bigrounded green">Rounded</a> 
					<a href="#" class="btn btn-small green">Small</a>
					<a href="#" class="btn btn-medium green">Medium</a>
					<span class="btn green">Span</span> 
					<div class="btn green">Div</div> 
					<p class="btn green">P Tag</p> 
					<h3 class="btn green">H3</h3> 
					<input class="btn green" type="button" value="Input Element" /> 
					<button class="btn green">Button Tag</button>
				</div>

				<h3 class="title">Yellow</h3>
				<div class="button_example">
					<a href="#" class="yellow btn">Rectangle</a>  
					<a href="#" class="yellow btn bigrounded">Rounded</a> 
					<a href="#" class="yellow btn btn-small">Small</a>
					<a href="#" class="yellow btn btn-medium">Medium</a> 
					<span class="yellow btn">Span</span> 
					<div class="yellow btn">Div</div> 
					<p class="yellow btn">P Tag</p> 
					<h3 class="yellow btn">H3</h3> 
					<input class="yellow btn" type="button" value="Input Element" /> 
					<button class="yellow btn">Button Tag</button>
				</div>

				<h3 class="title">Red</h3>
				<div class="button_example">
					<a href="#" class="red btn">Rectangle</a>  
					<a href="#" class="red btn bigrounded">Rounded</a> 
					<a href="#" class="red btn btn-small">Small</a>
					<a href="#" class="red btn btn-medium">Medium</a> 
					<span class="red btn">Span</span> 
					<div class="red btn">Div</div> 
					<p class="red btn">P Tag</p> 
					<h3 class="red btn">H3</h3> 
					<input class="red btn" type="button" value="Input Element" /> 
					<button class="red btn">Button Tag</button>
				</div>

				<h3 class="title">Blue</h3>
				<div class="button_example">
					<a href="#" class="blue btn">Rectangle</a>  
					<a href="#" class="blue btn bigrounded">Rounded</a> 
					<a href="#" class="blue btn btn-small">Small</a>
					<a href="#" class="blue btn btn-medium">Medium</a> 
					<span class="blue btn">Span</span> 
					<div class="blue btn">Div</div> 
					<p class="blue btn">P Tag</p> 
					<h3 class="blue btn">H3</h3> 
					<input class="blue btn" type="button" value="Input Element" /> 
					<button class="blue btn">Button Tag</button>
				</div>

				<h3 class="title">Light Blue</h3>
				<div class="button_example">
					<a href="#" class="light_blue btn">Rectangle</a>  
					<a href="#" class="light_blue btn bigrounded">Rounded</a> 
					<a href="#" class="light_blue btn btn-small">Small</a>
					<a href="#" class="light_blue btn btn-medium">Medium</a> 
					<span class="light_blue btn">Span</span> 
					<div class="light_blue btn">Div</div> 
					<p class="light_blue btn">P Tag</p> 
					<h3 class="light_blue btn">H3</h3> 
					<input class="light_blue btn" type="button" value="Input Element" /> 
					<button class="light_blue btn">Button Tag</button>
				</div>		

				<h3 class="title">White</h3>
				<div class="button_example">
					<a href="#" class="white btn">Rectangle</a>  
					<a href="#" class="white btn bigrounded">Rounded</a> 
					<a href="#" class="white btn btn-small">Small</a>
					<a href="#" class="white btn btn-medium">Medium</a> 
					<span class="white btn">Span</span> 
					<div class="white btn">Div</div> 
					<p class="white btn">P Tag</p> 
					<h3 class="white btn">H3</h3> 
					<input class="white btn" type="button" value="Input Element" /> 
					<button class="white btn">Button Tag</button>
				</div>

				<h3 class="title">White Black</h3>
				<div class="button_example">
					<a href="#" class="white_black btn">Rectangle</a>  
					<a href="#" class="white_black btn bigrounded">Rounded</a> 
					<a href="#" class="white_black btn btn-small">Small</a>
					<a href="#" class="white_black btn btn-medium">Medium</a> 
					<span class="white_black btn">Span</span> 
					<div class="white_black btn">Div</div> 
					<p class="white_black btn">P Tag</p> 
					<h3 class="white_black btn">H3</h3> 
					<input class="white_black btn" type="button" value="Input Element" /> 
					<button class="white_black btn">Button Tag</button>
				</div>

			</div><!-- white_box close -->
		</div><!-- main close -->
	</div><!-- container_12 close -->
