<div class="container">
	<div class="grid_12">
		<div class="content_header static_content_push">
			<div class="content_no_sidebar">

				<div class="content_header">
					<h3>Contact Us</h3>
				</div><!-- content_header close -->

				<div class="content_inside">
					<h3>
						Hey, we want to hear from you :)
					</h3>

					<p>
						Here’s the best way to keep in touch with us:
					</p>

					<ul class="list_inline">
						<li>
							<div class="box_left">
								General
							</div><!-- label_left close -->
							<div class="box_right">
								info@dnssocial.com
							</div><!-- input_right close -->
						</li>
						<li>
							<div class="box_left">
								Press 
							</div><!-- label_left close -->
							<div class="box_right">
								press@dnssocial.com
							</div><!-- input_right close -->
						</li>
						<li>
							<div class="box_left">
								Community support
							</div><!-- label_left close -->
							<div class="box_right">
								support@dnssocial.com
							</div><!-- input_right close -->
						</li>
						<li>
							<div class="box_left">
								Career opportunities
							</div><!-- label_left close -->
							<div class="box_right">
								jobs@dnssocial.com
							</div><!-- input_right close -->
						</li>
						<li>
							<div class="box_left">
								Report abuse
							</div><!-- label_left close -->
							<div class="box_right">
								abuse@dnssocial.com
							</div><!-- input_right close -->
						</li>
					</ul>
			</div>
		</div>
	</div><!-- grid_12 close -->
</div><!-- container_12 close -->
<br class="clear">