<div class="container">
	<div class="grid_12">
		<div class="content_no_sidebar">
			<div class="content_inside">
				<ul>
					<li><a href="/guide/bar">Bar</a> </li>
					<li><a href="/guide/notice">Notice</a> </li>
					<li><a href="/guide/basic">Basic template</a> </li>
					<li><a href="/guide/modal">Modal</a> </li>
					<li><a href="/guide/table">Table</a> </li>
					<li><a href="/guide/button">Button</a> </li>
					<li><a href="/guide/full">Full Width</a> </li>
					<li><a href="/guide/form">Form</a> </li>
					<li><a href="/guide/tooltip">tooltip</a> </li>
					<li><a href="/guide/clipboard">clipboard</a> </li>
				</ul>
			</div><!-- content_inside close -->
		</div><!-- content_no_sidebar close -->
	</div><!-- grid_12 close -->
</div>