
	<div class="intro">
		<div class="container">

			<ul class="rslides" id="slider_home">
				<li>
					<div class="home_dnscell_social">
						<h2>DNS management made easy</h2>
						<br class="clear">
					</div>
				</li>
			</ul>
			
			<!-- <li class="hide">
				<div class="home_dnscell">
					<h2>DNS management made easy</h2>
					<br class="clear">
				</div>
			</li> -->
	        <!-- <div id="slides">
	            <div class="slides_container">
					<div class="slides_item">
					    <div class="grid_12 home_dnscell">
							<h2>DNS management made easy</h2>
							
							<br class="clear">
						</div>
					</div>
					<div class="slides_item">
						<div class="grid_12 home_dnscell_social">
							<h2>DNS Social</h2>
							
							<br class="clear">
						</div>
					</div>
	            </div>
	        </div> -->
			<br class="clear">
		</div><!-- container_12 close -->
	</div><!-- intro close -->
   
   	<div class="home_box hide">
   		<div class="server">
   		
   		</div><!-- server close -->
	</div><!-- home_box close -->

	<div class="container">
		<div class="grid_5">
			<div class="why_picth">
				<h2 class="acener">Why DNSSocial?</h2>
				<p>DNSSocial provides the best solutions for your DNS need. Its support a wide range of record types, including A, AAAA, NS, MX, URL and much more. With built in support for Dynamic DNS and realtime update, your website or service will always ready to serve your customer. With DNSSEC you know that your DNS is verified and secure. Don’t hesitate anymore, register now and change the way you manage DNS with DNSSocial.</p>

				<p class="last"> <%= link_to 'Read more', '/why', :class => "btn white"  %> </p>
			</div><!-- why_picth close -->
		</div><!-- grid_5 close -->


		<div class="grid_7 home_features_2">
			<ul>
				<li>
					<h2>Smart DNS</h2>
					<p>DNSSocial provides you with the most powerful and smart DNS that revolutionize DNS hosting service.</p>
				</li>

				<li class="last">
					<h2>Socialize your DNS</h2>
					<p>With DNSSocial you can share your domain using subdomain with your friends and family. Build your own network.</p>
				</li>

				<!-- <li>
					<h2>SLA</h2>
					<p>We guarantees you a 99.9% uptime SLA to all members.</p>
				</li> -->

				<li>
					<h2>Secure Your DNS</h2>
					<p>DNSSocial provides you with peace of mind with DNSSEC. Securing your DNS has never been easier with DNSSocial.</p>
				</li>

				<li class="last">
					<h2>Advance Reporting Tools</h2>
					<p>DNSSocial is equipped with advanced reporting tool, so you can monitor every request and manage your customer better.</p>
				</li>
			</ul>
		</div><!-- grid_12 home_features_2 close -->

		<div class="grid_12 home_features">
			<ul class="hide">
				<li>
					<div class="feature_desc fleft">
						<h2>Smart DNS</h2>
						<p>DNSSocial provides you with the most powerful and smart DNS that revolutionize DNS hosting service.  </p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<img src="images/feature_dummy.png" alt="" />
					</div><!-- feature_img close -->
				</li>
				<li>
					<div class="feature_img fleft">
						<img src="images/feature_dummy.png" alt="" />
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Socialize your DNS</h2>
						<p>With DNSSocial you can share your domain using subdomain with your friends and family. Build your own network.</p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>SLA</h2>
						<p>We guarantees you a 99.9% uptime SLA to all members.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<img src="images/feature_dummy.png" alt="" />
					</div><!-- feature_img close -->
				</li>
				<li>
					<div class="feature_img fleft">
						<img src="images/feature_dummy.png" alt="" />
					</div><!-- feature_img close -->
					<div class="feature_desc fright">
						<h2>Advance Reporting Tools</h2>
						<p>DNSSocial is equipped with advanced reporting tool, so you can monitor every request and manage your customer better.</p>
					</div><!-- feature_desc close -->
				</li>
				<li>
					<div class="feature_desc fleft">
						<h2>Secure Your DNS</h2>
						<p>DNSSocial provides you with peace of mind with DNSSEC. Securing your DNS has never been easier with DNSSocial.</p>
					</div><!-- feature_desc close -->
					<div class="feature_img fright">
						<img src="images/feature_dummy.png" alt="" />
					</div><!-- feature_img close -->
				</li>
			</ul>	
		</div><!-- home_desc close -->
		<br class="clear">
	</div><!-- container_12 close -->


	<div class="container overflow">
		<div class="grid_12">
			<!-- <p class="acenter">
				<%= image_tag 'static/server_perspective.png' %>
			</p>
			<p class="acenter">Hardware spec: Dual Core i5, 500GB hdd, 8GB Ram</p> -->
		</div><!-- grid_12 close -->
		
	</div><!-- container_12 close -->

