<div class="container">
	<div class="main grid_12">
		<div class="white_box push_40">
		
			<h2 class="title">Misc</h2>
			<ol class="special overflow">
				<li>This is <abbr title="title">abbreviation</abbr></li>
				<li>This is <strong>strong</strong></li>
				<li>This is <em>emphasis</em></li>
				<li>This is <b>bold text</b></li>
				<li>This is <i>italic text</i></li>
				<li>This is <cite>cite</cite></li>
				<li>This is <small>small text</small></li>
				<li>This is <big>big text</big></li>
				<li>This is <del>deleted text</del></li>
				<li>This is <ins>inserted text</ins></li>
				<li>This is <dfn>defining instance</dfn></li>
				<li>This is <kbd>user input</kbd></li>
				<li>This is <samp>sample output</samp></li>
				<li>This is <q>inline quotation</q> </li>
				<li>These are <sub>subscript</sub> and <sup>superscript</sup></li>
				<li>This is <var>a variable</var></li>					
			</ol>
		</div><!-- white_box close -->

	<div class="white_box push_40">

		<h2 class="title">Form</h2>
		<form action="/contact/#wpcf7-f1-p4432-o1" method="post" class="padded"> 

		<label for="male">Male</label>
		<input type="radio" name="sex" id="male" />
		<br />

		<label for="female">Female</label>
		<input type="radio" name="sex" id="female" />
		<br />

		<label for="email" id="email">
			Email Address (required)*
		</label>
	
		<input type="email" required="" value="" class="" spellcheck="false" name="email" id="email"> 
	
		<fieldset>
			<legend>Personal information:</legend>
			Name: <input type="text" size="30" /><br />
			E-mail: <input type="text" size="30" /><br />
			Date of birth: <input type="text" size="10" />
		</fieldset>

		<p>
			<input type="radio" name="sex" value="male" /> Male
			<input type="radio" name="sex" value="female" /> Female</p>
		<p>
		<p>
			<input type="checkbox" name="vehicle" value="Bike" /> I have a bike<br />
			<input type="checkbox" name="vehicle" value="Car" /> I have a car 
		</p>
	
		<select name="cars" class="cute_select">
			<option value="golf" selected="selected">List 1</option>
			<option value="golf" selected="selected">List 2</option>
			<option value="golf" selected="selected">List 3</option>
			<option value="golf" selected="selected">I have a car</option>
		</select>

		<br>

		<select>
			<option value="golf" selected="selected">List 1</option>
			<option value="golf" selected="selected">I have a car </option>
			<option value="golf" selected="selected">List 3</option>
			<option value="golf" selected="selected">List 4</option>
		</select>

		<br>
		<label>Your Message</label>
		<textarea name="your-message" id="contactmsg" cols="40" rows="10"></textarea></p> 

		<input type="submit" value="Submit" class="btn blue" /> or 
		<input type="submit" value="Cancel" class="btn white" />

	</form>
</div><!-- white_box close -->


<div class="white_box push_40">
	<h2 class="title">Table</h2>
	<table>
		<tr>
			<th>Header 1</th>
			<th>Header 2</th>
		</tr>
		<tr>
			<td>row 1, cell 1</td>
			<td>row 1, cell 2</td>
		</tr>
		<tr>
			<td>row 2, cell 1</td>
			<td>row 2, cell 2</td>
		</tr>
		<tr>
			<td>row 2, cell 1</td>
			<td>row 2, cell 2</td>
		</tr>
		<tr>
			<td>row 2, cell 1</td>
			<td>row 2, cell 2</td>
		</tr>
		<tr>
			<td>row 2, cell 1</td>
			<td>row 2, cell 2</td>
		</tr>
		<tr>
			<td>row 2, cell 1</td>
			<td>row 2, cell 2</td>
		</tr>
	</table>
</div><!-- white_box close -->

	<div class="white_box push_40">
		<h2 class="title">MAFAKING Title</h2>

		<p>This is <pre>$var = n+1;</pre> This is <code>$var = n+1;</code></p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam neque, ullamcorper ut dictum pellentesque, egestas eget est. In<a title="local" href="http://localhost"> semper urna ut sem ultrice</a>s vehicula. Morbi condimentum viverra ornare. Quisque eu dolor sit amet lectus vehicula euismod nec sed ipsum. Maecenas lobortis varius diam non porttitor. Aenean lacinia euismod eros, et posuere purus tempor vitae. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam iaculis rhoncus neque ut tincidunt. Ut a velit mi, ac vestibulum nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti.</p>

		<p><a href="#">Link, pretium sit amet suscipit at</a>, lobortis nec justo. Aliquam vitae gravida neque. Proin consequat lorem quis dui faucibus imperdiet. Aliquam erat volutpat. Vestibulum ut sem risus, vitae congue ante. Vivamus velit nisl, convallis id interdum vitae, ultricies sed magna. Maecenas in ligula eu ligula bibendum sollicitudin. Praesent laoreet semper augue, non molestie nisi aliquet et. Vestibulum imperdiet convallis lacinia. Vivamus adipiscing rutrum nisi, vel egestas dui egestas ac. Nunc tincidunt nisi a augue varius ultrices. </p>

		<h2 class="title">Text</h2>
		<p><strong>Strong Text </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies nulla a eros. Morbi id ipsum. Ut eu diam quis lacus ultrices posuere. Cras sagittis. Vivamus egestas quam et massa. Proin suscipit nunc ullamcorper neque. Suspendisse vitae lectus. Integer sit amet justo ac metus vestibulum lacinia. Proin facilisis sem ut urna. Sed vel odio. Etiam varius rutrum diam. Nullam augue elit, mollis vitae, mollis sit amet, mattis eu, sapien. Praesent tempor urna a lorem. Praesent gravida.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies nulla a eros. Morbi id ipsum. Ut eu diam quis lacus ultrices posuere. Cras sagittis. Vivamus egestas quam et massa. Proin suscipit nunc ullamcorper neque. Suspendisse vitae lectus. Integer sit amet justo ac metus vestibulum lacinia. Proin facilisis sem ut urna. Sed vel odio. Etiam varius rutrum diam. Nullam augue elit, mollis vitae, mollis sit amet, mattis eu, sapien. Praesent tempor urna a lorem. Praesent gravida.</p>
	
		<h1>H1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
		<h2>H2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
		<h3>H3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
		<h4>H4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
		<h5>H5 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>

		<h2 class="title">List</h2>
		<ol class="listing">
			<li>Nullam ultricies nulla a eros. Morbi id ipsum. Ut eu diam quis lacus ultrices posuere. Cras sagittis. Vivamus egestas quam et massa. Proin suscipit nunc ullamcorper neque. Suspendisse vitae lectus. Integer sit amet justo ac metus vestibulum laciniaLorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>We're no strangers to love</li>
			<li>You know the rules and so do I</li>
		</ol>

		<ul class="listing">
			<li>Nullam ultricies nulla a eros. Morbi id ipsum. Ut eu diam quis lacus ultrices posuere. Cras sagittis. Vivamus egestas quam et massa. Proin suscipit nunc ullamcorper neque. Suspendisse vitae lectus. Integer sit amet justo ac metus vestibulum laciniaLorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
			<li>Never gonna give you up</li>
			<li>Never gonna let you down</li>
		</ul>

		<h2 class="title">blockquote</h2>
		<blockquote>
			<p>Nullam ultricies nulla a eros. Morbi id ipsum. Ut eu diam quis lacus ultrices posuere. Cras sagittis. Vivamus egestas quam et massa. Proin suscipit nunc ullamcorper neque. Suspendisse vitae lectus. Integer sit amet justo ac metus vestibulum lacinia. <small>Small Proin facilisis sem ut urna.</small> Sed vel odio. Etiam varius rutrum diam. Nullam augue elit, mollis vitae, mollis sit amet, mattis eu, sapien. Praesent tempor urna a lorem. Praesent gravida.</p>
		</blockquote>

		<h2 class="title">Image</h2>
		<img src="http://i.imgur.com/7DCfg.jpg">

		</div><!-- white_box close -->

		<div class="white_box push_40">
			<h2 class="title">Buttons</h2>

			<h3 class="title">Disable</h3>
			<input class="btn disabled" type="button" value="Input Element" /> 
			
			<h3 class="title">Default</h3>
			<div>
				<a href="#" class="btn">Rectangle</a>  
				<a href="#" class="btn bigrounded">Rounded</a> 
				<a href="#" class="btn btn-small">Small</a>
				<a href="#" class="btn btn-medium">Medium</a> 
				<span class="btn">Span</span> 
				<div class="btn">Div</div> 
				<p class="btn">P Tag</p> 
				<h3 class="btn">H3</h3> 
				<input class="btn" type="button" value="Input Element" /> 
				
				<button class="btn">Button Tag</button>
			</div>

			<h3 class="title">Green</h3>
			<div>
				<a href="#" class="btn green">Rectangle</a>  
				<a href="#" class="btn bigrounded green">Rounded</a> 
				<a href="#" class="btn btn-small green">Small</a>
				<a href="#" class="btn btn-medium green">Medium</a>
				<span class="btn green">Span</span> 
				<div class="btn green">Div</div> 
				<p class="btn green">P Tag</p> 
				<h3 class="btn green">H3</h3> 
				<input class="btn green" type="button" value="Input Element" /> 
				<button class="btn green">Button Tag</button>
			</div>

			<h3 class="title">Yellow</h3>
			<div>
				<a href="#" class="yellow btn">Rectangle</a>  
				<a href="#" class="yellow btn bigrounded">Rounded</a> 
				<a href="#" class="yellow btn btn-small">Small</a>
				<a href="#" class="yellow btn btn-medium">Medium</a> 
				<span class="yellow btn">Span</span> 
				<div class="yellow btn">Div</div> 
				<p class="yellow btn">P Tag</p> 
				<h3 class="yellow btn">H3</h3> 
				<input class="yellow btn" type="button" value="Input Element" /> 
				<button class="yellow btn">Button Tag</button>
			</div>

			<h3 class="title">Blue</h3>
			<div>
				<a href="#" class="blue btn">Rectangle</a>  
				<a href="#" class="blue btn bigrounded">Rounded</a> 
				<a href="#" class="blue btn btn-small">Small</a>
				<a href="#" class="blue btn btn-medium">Medium</a> 
				<span class="blue btn">Span</span> 
				<div class="blue btn">Div</div> 
				<p class="blue btn">P Tag</p> 
				<h3 class="blue btn">H3</h3> 
				<input class="blue btn" type="button" value="Input Element" /> 
				<button class="blue btn">Button Tag</button>
			</div>

			<h3 class="title">Light Blue</h3>
			<div>
				<a href="#" class="light_blue btn">Rectangle</a>  
				<a href="#" class="light_blue btn bigrounded">Rounded</a> 
				<a href="#" class="light_blue btn btn-small">Small</a>
				<a href="#" class="light_blue btn btn-medium">Medium</a> 
				<span class="light_blue btn">Span</span> 
				<div class="light_blue btn">Div</div> 
				<p class="light_blue btn">P Tag</p> 
				<h3 class="light_blue btn">H3</h3> 
				<input class="light_blue btn" type="button" value="Input Element" /> 
				<button class="light_blue btn">Button Tag</button>
			</div>		

			<h3 class="title">White</h3>
			<div>
				<a href="#" class="white btn">Rectangle</a>  
				<a href="#" class="white btn bigrounded">Rounded</a> 
				<a href="#" class="white btn btn-small">Small</a>
				<a href="#" class="white btn btn-medium">Medium</a> 
				<span class="white btn">Span</span> 
				<div class="white btn">Div</div> 
				<p class="white btn">P Tag</p> 
				<h3 class="white btn">H3</h3> 
				<input class="white btn" type="button" value="Input Element" /> 
				<button class="white btn">Button Tag</button>
			</div>

			<h3 class="title">White Black</h3>
			<div>
				<a href="#" class="white_black btn">Rectangle</a>  
				<a href="#" class="white_black btn bigrounded">Rounded</a> 
				<a href="#" class="white_black btn btn-small">Small</a>
				<a href="#" class="white_black btn btn-medium">Medium</a> 
				<span class="white_black btn">Span</span> 
				<div class="white_black btn">Div</div> 
				<p class="white_black btn">P Tag</p> 
				<h3 class="white_black btn">H3</h3> 
				<input class="white_black btn" type="button" value="Input Element" /> 
				<button class="white_black btn">Button Tag</button>
			</div>

		</div><!-- white_box close -->

	</div><!-- main close -->
</div><!-- container_12 close -->
