
<div class="container">
	<div class="grid_12">
		<h2>Notice popup</h2>
		<pre>show_notice 'message'</pre>
		<p>Delay 3000ms</p>

		<h3>Example</h3>
		<a href="#" class='show_notice btn blue'>Show notice</a>
		<pre>
$('.show_notice').click ->
	show_notice 'Custom message'
</pre>
	
		<h2>Notice (normal)</h2>
		<h3>Example</h3>
		<div class="notice_normal">
			Not activate
		</div><!--  close -->

		<pre>
&lt;div class=&quot;notice_normal&quot;&gt;
	Not activate
&lt;/div&gt;&lt;!-- notice_normal close --&gt;
</pre>

	</div><!-- grid_12 close -->
</div><!-- container close -->
