
	<div class="container plan_page">
			
			<div class="pitch">
				<h2>Limited time only.</h2>
				<h3>Promo code: helloworld</h3>
			</div><!-- pitch close -->
			
		
			<div class="plan">
				<div class="plan_detail">
					<h1>Free</h1>
					<h2>$0/month</h2>

					<ul>
						<li>2 domains</li>
						<li>15 hosts</li>
						<li>2 assign limit / domain</li>
						<li>10 share limit / domain</li>
						<li>2000 queries/day for each domain</li>
						<li>10 recent audit logs</li>
					</ul>
					<!--<div class="button_wrap">
						<a href="#" class="btn btn-big blue">Choose Plan</a>
					</div><!-- button_wrap close -->
				</div><!-- plan_detail close -->
			</div><!-- plan close -->


			<div class="plan last">
				<div class="plan_detail no_border_left">
					<h1>Promo</h1>
					<h2>0/month</h2>

					<ul>
						<li>2 domains</li>
						<li>20 hosts</li>
						<li>2 assign limit / domain</li>
						<li>10 share limit / domain</li>
						<li>3000 queries/day for each domain</li>
						<li>DNSSEC for each domain</li>
						<li>Graph for each domain</li>
						<li>Vanity NS for each domain</li>
						<li>Full audit logs</li>
					</ul>
					<!--<div class="button_wrap">
						<a href="#" class="btn btn-big blue">Choose Plan</a>
					</div><!-- button_wrap close -->
				</div><!-- plan_detail close -->
			</div><!-- plan close -->
		
		<br class="clear">
	</div><!-- container_12 close -->
