
	<div class="container plan_page">
			
			<div class="pitch">
				<h2>No free trial</h2>
				<h3>Pick a plan & sign up now.</h3>
			</div><!-- pitch close -->
			

			<div class="plan">
				<div class="plan_detail no_border_right">
					<h1>Free</h1>
					<h2>$0/month</h2>

					<ul>
						<li>2 domains</li>
						<li>15 hosts</li>
						<li>2000 queries/day for each domain</li>
					</ul>
					<div class="button_wrap">
						<a href="#" class="btn btn-big blue">Choose Plan</a>
					</div><!-- button_wrap close -->
				</div><!-- plan_detail close -->
			</div><!-- plan close -->

			<div class="plan">
				<div class="plan_detail no_border_right">
					<h1>Basic</h1>
					<h2>$5/month</h2>

					<ul>
						<li>5 domains</li>
						<li>100 hosts</li>
						<li>4000 queries/day for each domain</li>
						<li>DNSSEC for each domain</li>
						<li>Premium Support</li>
						<li>Audit</li>
					</ul>
					<div class="button_wrap">
						<a href="#" class="btn btn-big blue">Choose Plan</a>
					</div><!-- button_wrap close -->
				</div><!-- plan_detail close -->
			</div><!-- plan close -->

			<div class="plan">
				<div class="plan_detail  ">
					<h1>Plus</h1>
					<h2>$8/month</h2>

					<ul>
						<li>10 domains</li>
						<li>200 hosts</li>
						<li>8000 queries/day for each domain</li>
						<li>DNSSEC for each domain</li>
						<li>Premium Support</li>
						<li>1 x Free DNSCell T-Shirt</li>
						<li>Audit</li>
					</ul>

					<div class="button_wrap">
						<a href="#" class="btn btn-big blue">Choose Plan</a>	
					</div><!-- button_wrap close -->

				</div><!-- plan_detail close -->
			</div><!-- plan close -->

			<div class="plan last">
				<div class="plan_detail no_border_left">
					<h1>Premium</h1>
					<h2>$15/month</h2>

					<ul>
						<li>20 domains</li>
						<li>400 hosts</li>
						<li>16000 queries/day for each domain</li>
						<li>DNSSEC for each domain</li>
						<li>Premium Support</li>
						<li>1 x Free DNSCell T-Shirt</li>
						<li>Audit</li>
					</ul>
					<div class="button_wrap">
						<a href="#" class="btn btn-big blue">Choose Plan</a>
					</div><!-- button_wrap close -->
				</div><!-- plan_detail close -->
			</div><!-- plan close -->


		<br class="clear">
	</div><!-- container_12 close -->
