<div class="container">
	<div class="grid_12">
		<h2>Tooltip</h2>
		<h3>Class</h3>
		<pre>
tipsy_bottom
tipsy_top
tipsy_left
tipsy_right
</pre>

		<h3>Rails</h3>
		<pre>
:class => 'tipsy_bottom', :title => 'content'
</pre>
		<h3>HTML</h3>
		<pre>
&lt;a href=&quot;#&quot; class=&quot;tipsy_bottom&quot; title=&quot;bottom&quot;&gt;Test&lt;/a&gt;
</pre>
		
		<h3>Example</h3>
		<p><a href="#" class="tipsy_bottom" title="bottom">Test bottom</a></p>

		<p><a href="#" class="tipsy_top" title="top">Test top</a></p>

		<p><a href="#" class="tipsy_left" title="left">Test left</a></p>

		<p><a href="#" class="tipsy_right" title="right">Test right</a></p>

	</div><!-- grid_12 close -->
</div><!-- container close -->
