<div class="container">
	<div class="grid_12">
		<div class="content_header static_content_push">
			<div class="content_no_sidebar">

		<div class="content_header">
		<h3>Test your IPv6 connectivity</h3>
		</div><!-- content_header close -->

		
		<div class="content_inside">
			<h3>
				You are connected over <%#=@version%>IPv** from <%=request.remote_ip%>
			</h3>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</div>
		</div>
	</div><!-- grid_12 close -->
</div><!-- container_12 close -->
<br class="clear">