<div class="container">
	<div class="grid_12">
		<h2>Visualr</h2>
		<pre>show_notice 'message'</pre>
		
		<div id='chart' style='width: 700px; height: 240px;'></div>
		<%= render_chart @chart, 'chart' %>

	</div><!-- grid_12 close -->
</div><!-- container close -->
